$xl:1140px;
$lg:992px;
$md:768px;
$sm:576px;

$gutter:30px;
$gutter-side:$gutter/2;
$column: 12;

@mixin container($padding:$gutter-side){
    padding: 0 padding;
    margin: 0 auto;
    width: 100%;
    max-width: $xl;
    @include media($xl){
        max-width: $lg;
    }
    @include media($lg){
        max-width: $md;
    }
    @include media($md){
        max-width: $sm;
    }
    @include media($sm){
        max-width: 100%;
    }
    
}
@mixin media($size:$xl){
    @media (max-width:$size){
        @content
    }
};
@mixin row($margin:$gutter-side){
    display: flex;
    flex-wrap: wrap;
    @if $margin !=0 {
        margin-left: -$margin;
        margin-right: -$margin;
    }
}
@mixin col-base($padding:$gutter-side){
    padding: 0 $padding;
}
@mixin col($n:12,$padding:$gutter-side){
    width: 100%/$column * $n;
    @include col-base($padding)
}
@mixin col-lg($n,$padding:$gutter-side) {
    @include media($lg) {
        @include col($n, $padding)
    }
}
@mixin col-md($n,$padding:$gutter-side) {
    @include media($md) {
        @include col($n, $padding)
    }
}
@mixin col-sm($n,$padding:$gutter-side) {
    @include media($sm) {
        @include col($n, $padding)
    }
}
